*,
*::backdrop,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  opacity: 70%;
}
