<footer class="footer bg_primary">
  <div class="container_footer">
    <div class="footer-content">
      <div class="info-contact">
        <ul class="infor-list">
          <li class="list-item"><a href="./index.html">首頁</a></li>
          <li class="list-item"><a href="#">系列鏡框</a></li>
          <li class="list-item"><a href="#">門市據點</a></li>
          <li class="list-item"><a href="#">部落格</a></li>
          <li class="list-item"><a href="./faq.html">常見問題</a></li>
        </ul>
        <p>
          <span class="material-symbols-outlined">call</span>
          <a href="tel:0800-000-000">0800-000-000</a>
        </p>
        <p>
          <span class="material-symbols-outlined">mail</span>
          <a href="mailto:glasses@business.com">glasses@business.com</a>
        </p>
      </div>

      <ul class="social_media">
        <li>
          <a href="#"><img src="../assets/images/ic-social-fb.png" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="../assets/images/ic_social_ig.png" alt="" /></a>
        </li>
        <li>
          <a href="#"
            ><img src="../assets/images/ic_social_line.png" alt=""
          /></a>
        </li>
      </ul>
    </div>
    <div class="copyright">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <p><a href="#">隱私權政策</a></p>
      <p><a href="#">服務條款</a></p>
    </div>
  </div>
</footer>
