<header class="header bg_primary">
  <div class="container_header">
    <div class="header_content">
      <div class="logo">
        <a href="./index.html"
          ><img src="../assets/images/logo-white.png" alt="logo"
        /></a>
      </div>
      <nav class="nav">
        <ul class="nav-list">
          <li class="list-item"><a href="#">系列鏡框</a></li>
          <li class="list-item"><a href="#">門市據點</a></li>
          <li class="list-item"><a href="#">部落格</a></li>
          <li class="list-item"><a href="./faq.html">常見問題</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
