/* footer */

.container_footer {
  max-width: 1296px;
  margin: auto;
  padding: 48px 0px 32px;
  @include desktop {
    padding: 48px 12px 32px;
  }
  @include tablet {
    padding: 48px 36px 40px;
  }
  @include mobile {
    padding: 24px 15px 24px;
  }
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .infor-list {
    display: flex;
    gap: 48px;
    margin-bottom: 24px;
    @include mobile {
      display: none;
    }
    .list-item a {
      display: flex;
      color: white;
      font-size: 16px;
      padding: 12px 0px;
      // @include tablet {
      //   padding: 12px 0px;
      // }
    }
  }

  .info-contact {
    p {
      font-size: 36px;
      line-height: 1.5;
      display: flex;
      align-items: center;
      color: white;
      @include mobile {
        font-size: 16px;
      }
      span {
        display: inline-block;
        font-size: 36px;
        margin-right: 22px;
        @include mobile {
          font-size: 16px;
          margin-right: 11px;
        }
      }
      a {
        color: white;
      }
    }

    > p:nth-of-type(1) {
      margin-bottom: 8px;
    }

    > p:nth-of-type(2) {
      margin-bottom: 32px;
      @include mobile {
        margin-bottom: 24px;
      }
    }
  }

  .social_media {
    display: flex;
    gap: 32px;
    @include mobile {
      gap: 16px;
    }

    a {
      display: block;
      width: 48px;
      height: 48px;
      @include tablet {
        width: 40px;
        height: 40px;
      }
      @include mobile {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.footer .copyright {
  position: relative;
  display: flex;
  // border-top: 1px solid white;
  padding-top: 32px;
  line-height: 21px;

  @include mobile {
    flex-direction: column;
    row-gap: 8px;
    padding-top: 16px;
    line-height: 1.5;
  }
  ::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 1px;
    background-color: white;
  }

  p {
    color: white;
    a {
      display: block;
      color: white;
    }
  }

  > :first-child {
    margin-right: auto;
  }

  > p:nth-of-type(2) {
    margin-right: 40px;
  }
}
