<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網Week4</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <%- include('./layout/header'); %>

    <main class="main">
      <section class="section section-banner">
        <div class="container">
          <div class="banner-content">
            <p>Promise-Desert 2020 早春系列</p>
            <h1>看得清，才能看得遠</h1>
            <a href="#">立即購買</a>
          </div>
        </div>
      </section>

      <section class="section section-profession bg_light">
        <div class="container">
          <div class="main-title">
            <h2>用專業的心，做專業的事</h2>
          </div>
          <div class="main-content">
            <div class="card-list">
              <div
                class="list-item list-item-25 list-item-md-50 list-item-sm-100"
              >
                <img src="../assets/images/home-section2-1.png" alt="" />
                <h3>單一價格</h3>
                <p>
                  無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。
                </p>
              </div>
              <div
                class="list-item list-item-25 list-item-md-50 list-item-sm-100"
              >
                <img src="../assets/images/home-section2-2.png" alt="" />
                <h3>20 分鐘即可取件</h3>
                <p>
                  為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
                  20 分鐘即可完成。
                </p>
              </div>
              <div
                class="list-item list-item-25 list-item-md-50 list-item-sm-100"
              >
                <img src="../assets/images/home-section2-3.png" alt="" />
                <h3>安心售後服務</h3>
                <p>
                  我們提供長達 120
                  天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
                </p>
              </div>
              <div
                class="list-item list-item-25 list-item-md-50 list-item-sm-100"
              >
                <img src="../assets/images/home-sectioin2-4.png" alt="" />
                <h3>關於鏡片</h3>
                <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-classic">
        <div class="container">
          <div class="main-title">
            <h2>經典系列鏡框</h2>
          </div>
          <div class="main-content">
            <div class="card-list">
              <div class="list-item list-item-33 list-item-md-100">
                <div class="pic">
                  <img
                    src="../assets/images/home-section3-1.png"
                    alt="OPTICAL"
                  />
                </div>
                <p class="en-text">OPTICAL</p>
              </div>
              <div class="list-item list-item-33 list-item-md-100">
                <div class="pic">
                  <img
                    src="../assets/images/home-section3-2.png"
                    alt="SUNGLASSES"
                  />
                </div>
                <p class="en-text">SUNGLASSES</p>
              </div>
              <div class="list-item list-item-33 list-item-md-100">
                <div class="pic">
                  <img
                    src="../assets/images/home-section3-3.png"
                    alt="FUNCTIONAL"
                  />
                </div>
                <p class="en-text">FUNCTIONAL</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-co_branding">
        <div class="container">
          <div class="main-title">
            <h2>聯名設計鏡框</h2>
          </div>
          <div class="main-content">
            <div class="card-list">
              <div class="list-item list-item-50 list-item-md-100">
                <div class="pic">
                  <img src="../assets/images/home-section4-1.png" alt="" />
                </div>
                <p>DOUBLE A+</p>
              </div>
              <div class="list-item list-item-50 list-item-md-100">
                <div class="pic">
                  <img src="../assets/images/home-section4-2.png" alt="" />
                </div>
                <p>YOUTH</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-recommend">
        <div class="container">
          <div class="main-title">
            <h2>顧客推薦</h2>
          </div>
          <div class="main-content">
            <div class="card-list">
              <div
                class="list-item list-item-25 list-item-md-50 list-item-sm-100"
              >
                <div class="pic">
                  <img src="../assets/images/home-section5-1.png" alt="" />
                </div>
                <div class="desc">
                  <span class="en-text">Jessy</span>
                  <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                  <time datetime="2021-06-20">2021/06/20</time>
                </div>
              </div>
              <div
                class="list-item list-item-25 list-item-md-50 list-item-sm-100"
              >
                <div class="pic">
                  <img src="../assets/images/home-section5-2.png" alt="" />
                </div>
                <div class="desc">
                  <span>凱倫</span>
                  <p>
                    做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
                  </p>
                  <time datetime="2021-04-18">2021/04/18</time>
                </div>
              </div>
              <div
                class="list-item list-item-25 list-item-md-50 list-item-sm-100"
              >
                <div class="pic">
                  <img src="../assets/images/home-section5-3.png" alt="" />
                </div>
                <div class="desc">
                  <span>悠悠</span>
                  <p>
                    謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
                  </p>
                  <time datetime="2020-12-25">2020/12/25</time>
                </div>
              </div>
              <div
                class="list-item list-item-25 list-item-md-50 list-item-sm-100"
              >
                <div class="pic">
                  <img src="../assets/images/home-section5-4.png" alt="" />
                </div>
                <div class="desc">
                  <span class="en-text">Kyuan</span>
                  <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                  <time datetime="2020-10-31">2020/10/31</time>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-contact bg_light">
        <div class="container">
          <div class="main-title">
            <h2>聯絡我們</h2>
          </div>
          <form
            class="main-content list-item-50 list-item-md-83 list-item-sm-100"
          >
            <p>
              我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
            </p>
            <label for="name">姓名</label>
            <input id="name" type="text" required placeholder="陳小明" />

            <label for="telephone">聯絡電話</label>
            <input
              id="telephone"
              type="tel"
              required
              placeholder="0912-345-678"
            />

            <label for="mail">電子郵件</label>
            <input
              id="mail"
              type="email"
              required
              placeholder="example@email.com"
            />

            <label for="feedback">意見反應</label>
            <textarea
              id="feedback"
              required
              placeholder="請輸入您的意見"
              rows="5"
            ></textarea>

            <div class="check_privacy">
              <input type="checkbox" name="privacy" id="privacy" required />
              <label for="privacy"
                >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
              >
            </div>

            <button type="button">確認送出</button>
          </form>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); %>
    <script type="module" src="../main.js"></script>
  </body>
</html>
